@model Application.Account.Queries.GetAccountDetails.AccountDetailVm
@{
    ViewData["Title"] = "AccountSettings";
}

<div class="intro-login">
    <div class="container-fluid" id="intro">
        <div class="intro__inner" id="inner"> </div>
    </div>
    <div class="row container-fluid align-self-center align-bottom mt-5">
        <div class="col-1">

        </div>
        <div class="col-10 shadow mb-5 bg-white rounded align-self-center acc-container p-md-5 unselectable">
            <form class="" id="login-form"  method="post">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-gear" fill="lightgrey" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.837 1.626c-.246-.835-1.428-.835-1.674 0l-.094.319A1.873 1.873 0 0 1 4.377 3.06l-.292-.16c-.764-.415-1.6.42-1.184 1.185l.159.292a1.873 1.873 0 0 1-1.115 2.692l-.319.094c-.835.246-.835 1.428 0 1.674l.319.094a1.873 1.873 0 0 1 1.115 2.693l-.16.291c-.415.764.42 1.6 1.185 1.184l.292-.159a1.873 1.873 0 0 1 2.692 1.116l.094.318c.246.835 1.428.835 1.674 0l.094-.319a1.873 1.873 0 0 1 2.693-1.115l.291.16c.764.415 1.6-.42 1.184-1.185l-.159-.291a1.873 1.873 0 0 1 1.116-2.693l.318-.094c.835-.246.835-1.428 0-1.674l-.319-.094a1.873 1.873 0 0 1-1.115-2.692l.16-.292c.415-.764-.42-1.6-1.185-1.184l-.291.159A1.873 1.873 0 0 1 8.93 1.945l-.094-.319zm-2.633-.283c.527-1.79 3.065-1.79 3.592 0l.094.319a.873.873 0 0 0 1.255.52l.292-.16c1.64-.892 3.434.901 2.54 2.541l-.159.292a.873.873 0 0 0 .52 1.255l.319.094c1.79.527 1.79 3.065 0 3.592l-.319.094a.873.873 0 0 0-.52 1.255l.16.292c.893 1.64-.902 3.434-2.541 2.54l-.292-.159a.873.873 0 0 0-1.255.52l-.094.319c-.527 1.79-3.065 1.79-3.592 0l-.094-.319a.873.873 0 0 0-1.255-.52l-.292.16c-1.64.893-3.433-.902-2.54-2.541l.159-.292a.873.873 0 0 0-.52-1.255l-.319-.094c-1.79-.527-1.79-3.065 0-3.592l.319-.094a.873.873 0 0 0 .52-1.255l-.16-.292c-.892-1.64.902-3.433 2.541-2.54l.292.159a.873.873 0 0 0 1.255-.52l.094-.319z" />
                            <path fill-rule="evenodd" d="M8 5.754a2.246 2.246 0 1 0 0 4.492 2.246 2.246 0 0 0 0-4.492zM4.754 8a3.246 3.246 0 1 1 6.492 0 3.246 3.246 0 0 1-6.492 0z" />
                        </svg>
                        <p>Edit Profile</p>
                    </div>
                    <div class="col-md-5 col-sm-12 text-left border-left">
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Name :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="FirstName" class="input-set text-capitalize border-0" value="@Model.FirstName" required id="fn">
                                </label>
                            </div>
                        </div>
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Surname :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="LastName" class="input-set text-capitalize border-0" value="@Model.LastName"  id="ln" required>
                                </label>
                            </div>
                        </div>
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Mail :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="Email" class="input-set border-0" value="@Model.Email" required id="mail">
                                </label>
                            </div>
                        </div>
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">City :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="City" class="input-set text-capitalize border-0" value="@Model.City" required id="city">
                                </label>
                            </div>
                        </div>
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Phone :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="PhoneNumber"   id="phone" placeholder="0(00)000-00-00" class="input-set text-capitalize border-0" value="@Model.PhoneNumber" required>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-left">
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Postal Code :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="PostalCode" class="input-set text-capitalize border-0" value="@Model.PostalCode" required id="pc">
                                </label>
                            </div>
                        </div>
                        <div class="row vtop">
                            <div class="col-4">
                                <p class="border-bottom">Street :</p>
                            </div>
                            <div class="col-8">
                                <label class="label-in">
                                    <input type="text" asp-for="Street" class="input-set text-capitalize border-0" value="@Model.Street" required id="street">
                                </label>
                            </div>
                        </div>
                        <p class="text-right">
                            <a class="acc" asp-controller="Account" asp-action="Register">
                                Password Reset
                            </a>
                        </p>
                        <p class="text-right">
                            <a class="acc" asp-controller="Account" asp-action="Register">
                                Delete Account
                            </a>
                        </p>
                        <input class="btn btn-log sendButton" type="submit"  value="Update" id="up" disabled />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/jscript">

            $("#up").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Account/AccountSettings',
                    type: 'put',
                    data: {
                        FirstName: $("#fn").val(), LastName: $("#ln").val(),
                        Email: $("#mail").val(), City: $("#city").val(),
                        Street: $("#street").val(), PhoneNumber: $("#phone").val(),
                        PostalCode: $("#pc").val()
                    },
                    dataType: "json",
                    success: function () {

                        alert("User is Updated!");
                    }
                });
            });

            $("#fn").keyup(function (event) {
                validateInputs();
            });

            $("#ln").keyup(function (event) {
                validateInputs();
            });

            $("#mail").keyup(function (event) {
                validateInputs();
            });

            $("#pc").keyup(function (event) {
                validateInputs();
            });

            $("#phone").keyup(function (event) {
                validateInputs();
            });

            $("#city").keyup(function (event) {
                validateInputs();
            });

            $("#street").keyup(function (event) {
                validateInputs();
            });

            function validateInputs() {
                var disableButton = false;

                var fn = jQuery.trim($("#fn").val());
                var ln = jQuery.trim($("#ln").val());
                var mail = jQuery.trim($("#mail").val());
                var pc = jQuery.trim($("#pc").val());
                var phone = jQuery.trim($("#phone").val());
                var city = jQuery.trim($("#city").val());
                var street = jQuery.trim($("#street").val());

                if (fn.length == 0 || ln.length == 0 || mail.length == 0 || pc.length == 0 || phone.length == 0 || city.length == 0 || street.length == 0)
                    disableButton = true;

                $('.sendButton').attr('disabled', disableButton);
            }

    </script>
}
